{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %} my site {% endblock %}</title>
</head>
<body>
<div class="container">
    {% block header %}
	<div class="container alert-dark p-0 m-0">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="logo-img">
                    <a href="/ru" rel="home" title="Кубанский государственный университет"><img src="https://www.kubsu.ru/sites/all/themes/portal_kubsu/logo.png" alt="Кубанский государственный университет" id="logo" /></a>
          </div>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'users:edit_profile' %}"
                   class="nav-link px-2 link-light">Профиль</a></li>
              {% if user.is_authenticated %}
                  {% if user.is_staff %}
                  <li>
                      <a href="" class="nav-link px-2 link-light">Проверить работы</a>
                  </li>
                  {% else %}
                  <li>
                      <a href="" class="nav-link px-2 link-light">Писать работу</a>
                  </li>
                  {% endif %}
              {% endif %}

            <li><a href="{% url 'home' %}"
                   class="nav-link px-2 link-light">Архив
                работ</a></li>
            <li><a href="{% url 'list_teacher' %}"
                   class="nav-link px-2 link-light">Список
                преподавателей</a></li>
            <li>
                <a href="https://www.kubsu.ru/ru/fppk/oformlenie-vkr-i-kursovyh-rabot" class="nav-link px-2 link-light">Правила
                оформления работ</a></li>
          </ul>

          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
				<li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
			{% else %}
                <li>
                    <button type="button" class="btn btn-outline-primary me-2">
                        <a href="{% url 'users:login' %}" class="text-decoration-none">Вход</a>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                        <a href="{% url 'users:register' %}" class="text-decoration-none">Регистрация</a>
                    </button>
                </li>
			{% endif %}
          </div>
        </header>
    </div>




{% endblock header %}

<!-- Sidebar слева -->
{% block left_sidebar %}

{% endblock left_sidebar %}
<!-- Конец Sidebar'а -->

<!-- Блок main -->
{% block main %}
{% block content %}

{% endblock content%}
{% endblock main%}
<!-- Конец блока main -->

<!-- Sidebar справа -->
{% block right_sidebar %}

{% endblock right_sidebar %}
<!-- Конец Sidebar'а -->

<!-- Footer -->
{% block footer %}
	<div class="container">
        <footer
                class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top alert-dark">
            <div class="col mb-3">
              <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              </a>
              <p class="text-muted">&copy; 2024</p>
            </div>

            <div class="col mb-3">

            </div>

            <div class="col mb-3">
              <h5>Полезные сайты</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="https://www.kubsu.ru/ru"
                       class="nav-link p-0 text-muted">Официальный сайт
                        КубГУ</a>
                </li>
                <li class="nav-item mb-2"><a href="https://www.kubsu.ru/ru/fktipm"
                                             class="nav-link p-0 text-muted">
                    Сайт ФКТиПМ</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"></a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"></a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"></a></li>
              </ul>
            </div>

            <div class="col mb-3">
              <h5>Может что-то ещё</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#"
                                             class="nav-link p-0 text-muted">
                    или нет</a></li>
                <li class="nav-item mb-2"><a href="#"
                                             class="nav-link p-0 text-muted">
                    или да</a></li>
                <li class="nav-item mb-2"><a href="#"
                                             class="nav-link p-0 text-muted">в</a></li>
                <li class="nav-item mb-2"><a href="#"
                                             class="nav-link p-0 text-muted">
                    общем</a></li>
                <li class="nav-item mb-2"><a href="#"
                                             class="nav-link p-0 text-muted">
                    незнаю</a></li>
              </ul>
            </div>

            <div class="col mb-3">
              <h5>Ссылки на соц.сети</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Функции</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Цены</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ответы</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О нас</a></li>
              </ul>
            </div>
        </footer>
    </div>
{% endblock footer %}
<!-- Конец footer'а и страницы -->

</div>


</body>
</html>