{% extends 'base.html' %}

{% block main %}


<div class="panel d-flex  align-items-center">
  <div class="search"></div>
<form action="{% url 'add_student' %}" method="get">
  {% csrf_token %}
  <input id="search" name="q" type="text" placeholder="Введите запрос">
  <button type="submit">найти</button>
</form>
</div>




  {% for student in object_list %}
<div class="panel">
      <div >
        <p>ФИО: {{ student.user.first_name }}</p>
      </div >
      <div >
        <p>Группа: {{ student.group }}</p>
      </div>
      <div>
        <p>Направление: {{ student.group.direction_of_study }}
        ({{ student.group.direction_of_study.direction_code }})</p>
      </div>
      <div>
        <form method="post" action="{% url 'check_works' %}">
    {% csrf_token %}
     <input type="hidden" name= "student_id" value="{{ student.id }}">
     <button type="submit">Добавить</button>
  </form>
      </div>
  </div>
  {% endfor %}







{% endblock %}


