{% extends 'base.html' %}

{% block content %}


<h1>List works</h1>

<p>ФИО: {{ student.user.first_name }}</p>
<p>Направление: {{ student.group.direction_of_study }}
({{ student.group.direction_of_study.direction_code }})</p>

<hr>
<ul>
<div class="form-error">{{ form.non_field_errors }}</div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for f in work_form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Save changes</button>
    </form>

    <hr>

</ul>






{% endblock content%}