{% extends 'base.html' %}
{% load works_extras %}

{% block content %}
<h2>Изменить тему работы</h2>

<p><strong>Студент:</strong> {{ work.author.user|user_fio }}</p>

<form method="post">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }} </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
  {% endfor %}
  <button type="submit">Сохранить</button>
</form>

<p class="mt-3"><a href="{% url 'work_detail' work.id %}">Назад к карточке работы</a></p>
{% endblock content %}

